body {
  background-image: linear-gradient(#7349fd, #ffffff, #7349fd);
  height: 90vh;
}

.logo {
  display: block;
  margin: auto;
  width: 3rem;
}

h1 {
  margin-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.contain-box {
  height: 70vh;
  border: 2px solid #000000;
  padding: 2rem;
  overflow-y: scroll;
  scrollbar-face-color: #ff0;
  margin-bottom: 1.5rem;
}

.message {
  background-color: #ff0;
  width: 25%;
  padding: 10px;
  margin: 17px 12px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}
.center {
  margin: auto;
  clear: both;
  text-align: center;
}

#messageInp {
  width: 100%;
  border: 2px solid #000000;
  border-radius: 10px;
  height: 3.2rem;
  padding: 1rem;
  outline: none;
}

.btn {
  border-radius: 50%;
  padding: 0.7rem;
  background-color: #7349fd;
  border-color: #7349fd;
}

.btn:hover {
  background-color: #6333ff;
}
